<configData>
	<background>
		<id>1</id>
		<swf>swf/bgBeach.swf</swf>
	</background>
	<background>
		<id>2</id>
		<swf>swf/bgPark.swf</swf>
	</background>
	<background>
		<id>3</id>
		<swf>swf/bgPond.swf</swf>
	</background>
	<background>
		<id>4</id>
		<swf>swf/bgBirthday.swf</swf>
	</background>

	<character>
		<id>1</id>
		<swf>swf/bert.swf</swf>
	</character>
	<character>
		<id>2</id>
		<swf>swf/telly.swf</swf>
	</character>
	<character>
		<id>3</id>
		<swf>swf/grover.swf</swf>
	</character>
	<character>
		<id>4</id>
		<swf>swf/ernie.swf</swf>
	</character>
	<character>
		<id>5</id>
		<swf>swf/cookie.swf</swf>
	</character>
	<character>
		<id>6</id>
		<swf>swf/elmo.swf</swf>
	</character>
	<character>
		<id>7</id>
		<swf>swf/abby.swf</swf>
	</character>
	<character>
		<id>8</id>
		<swf>swf/zoe.swf</swf>
	</character>

	<round>
		<id>1</id>
		<reset>false</reset>
	</round>
	<round>
		<id>2</id>
		<reset>false</reset>
	</round>
	<round>
		<id>3</id>
		<reset>false</reset>
	</round>

	<completion>
		<id>1</id>
		<swf>swf/mariachiWipe.swf</swf>
	</completion>
	<completion>
		<id>2</id>
		<swf>swf/balloonWipe.swf</swf>
	</completion>

	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>apple</name>
		<sound>appleWatermelon.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>watermelon</name>
		<sound>appleWatermelon.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>corn</name>
		<sound>cornGranola.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>granola</name>
		<sound>cornGranola.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>cupcake</name>
		<sound>cupcakeCake.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>cake</name>
		<sound>cupcakeCake.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>egg</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>juicebox</name>
		<sound>juice.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>maraca</name>
		<sound>maraca.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>noisemaker</name>
		<sound>noisemaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>papaya</name>
		<sound>papayaBanana.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>banana</name>
		<sound>papayaBanana.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>pizza</name>
		<sound>pizza.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>blueberries</name>
		<sound>pizza.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>bucket</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>3</min>
		<max>5</max>
		<directory>audio/characters/3to5</directory>
		<name>gift</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	

	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>apple</name>
		<sound>appleWatermelon.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>watermelon</name>
		<sound>appleWatermelon.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>corn</name>
		<sound>cornGranola.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>granola</name>
		<sound>cornGranola.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>cupcake</name>
		<sound>cupcakeCake.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>cake</name>
		<sound>cupcakeCake.mp3</sound>
	</characteraudio>
	
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>egg</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>juicebox</name>
		<sound>juice.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>maraca</name>
		<sound>maraca.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>noisemaker</name>
		<sound>noisemaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>papaya</name>
		<sound>papayaBanana.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>banana</name>
		<sound>papayaBanana.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>pizza</name>
		<sound>pizza.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>blueberries</name>
		<sound>pizza.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>bucket</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	<characteraudio>
		<min>6</min>
		<max>8</max>
		<directory>audio/characters/6to8</directory>
		<name>gift</name>
		<sound>eggshaker.mp3</sound>
	</characteraudio>
	
	
	
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>apple</name>
		<sound>appleWatermelon.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>watermelon</name>
		<sound>appleWatermelon.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>corn</name>
		<sound>cornGranola.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>granola</name>
		<sound>cornGranola.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>cupcake</name>
		<sound>cupcakeCake.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>cake</name>
		<sound>cupcakeCake.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>egg</name>
		<sound>eggshaker.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>juicebox</name>
		<sound>juice.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>maraca</name>
		<sound>maraca.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>noisemaker</name>
		<sound>noisemaker.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>papaya</name>
		<sound>papayaBanana.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>banana</name>
		<sound>papayaBanana.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>pizza</name>
		<sound>pizza.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>blueberries</name>
		<sound>pizza.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>bucket</name>
		<sound>eggshaker.mp3</sound>
	</rositaaudio>
	<rositaaudio>
		<directory>audio/rosita</directory>
		<name>gift</name>
		<sound>eggshaker.mp3</sound>
	</rositaaudio>
</configData>