@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
body {
	background-color: #f8ec54;
	background-image: url("smileycentral/wallpapers/happy_bg.jpg");
	text-align: center;
	font-family: "sans";
	color: white;
}
table {
	border-color: black;
	table-align: center;
}
a {
	color: #0000aa;
	font-family: "sansbd";
}
.void {
	background-color: #ffffff;
}
h1 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
h2 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
h3 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
h4 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
h5 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
h6 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	font-family: "sansbd";
}
