<configData>
  <debug>
    <playset>0</playset>
  </debug>
  <pbs>
    <kidsisland>false</kidsisland>
  </pbs>
  <settings>
    <rollover>0xFFFFFF</rollover>
    <so_highlight>0xed8907</so_highlight>
    <location_highlight>0xeda807</location_highlight>
  </settings>
  <timer>
    <name>idle</name>
    <delay>12000</delay>
  </timer>
  <timer>
    <name>rollover</name>
    <delay>1000</delay>
  </timer>
  <objects>
    <object>
      <name>checkerboard</name>
      <file>bert_49.mp3</file>
    </object>
    <object>
      <name>notebook</name>
      <file>bert_50.mp3</file>
    </object>
    <object>
      <name>oranges</name>
      <file>bert_51.mp3</file>
    </object>
    <object>
      <name>slippers</name>
      <file>bert_52.mp3</file>
    </object>
    <object>
      <name>apple</name>
      <file>bert_52.mp3</file>
    </object>
    <object>
      <name>lemonade</name>
      <file>bert_53.mp3</file>
    </object>
    <object>
      <name>crayons</name>
      <file>bert_54.mp3</file>
    </object>
    <object>
      <name>pictureframe</name>
      <file>bert_55.mp3</file>
    </object>
    <object>
      <name>checkers</name>
      <file>bert_56.mp3</file>
    </object>
    <object>
      <name>trophy</name>
      <file>bert_57.mp3</file>
    </object>
    <object>
      <name>scissors</name>
      <file>bert_58.mp3</file>
    </object>
    <object>
      <name>watermelon</name>
      <file>bert_59.mp3</file>
    </object>
    <object>
      <name>wagon</name>
      <file>bert_60.mp3</file>
    </object>
    <object>
      <name>bottlecaps</name>
      <file>bert_61.mp3</file>
    </object>
    <object>
      <name>paperclipbox</name>
      <file>bert_62.mp3</file>
    </object>
    <object>
      <name>paintbrush</name>
      <file>bert_63.mp3</file>
    </object>
    <object>
      <name>clock</name>
      <file>bert_64.mp3</file>
    </object>
    <object>
      <name>lettuce</name>
      <file>bert_65.mp3</file>
    </object>
    <object>
      <name>paint</name>
      <file>bert_66.mp3</file>
    </object>
    <object>
      <name>wig</name>
      <file>bert_67.mp3</file>
    </object>
    <object>
      <name>windmill</name>
      <file>bert_68.mp3</file>
    </object>
    <object>
      <name>scoreboard</name>
      <file>bert_69.mp3</file>
    </object>
    <object>
      <name>wagon</name>
      <file>bert_70.mp3</file>
    </object>
    <object>
      <name>lasagna</name>
      <file>bert_73.mp3</file>
    </object>
    <object>
      <name>glue</name>
      <file>bert_74.mp3</file>
    </object>
    <object>
      <name>waffle</name>
      <file>bert_75.mp3</file>
    </object>
    <object>
      <name>book</name>
      <file>bert_76.mp3</file>
    </object>
    <object>
      <name>bottle</name>
      <file>bert_77.mp3</file>
    </object>
    <object>
      <name>hat</name>
      <file>bert_78.mp3</file>
    </object>
    <object>
      <name>magazine</name>
      <file>bert_80.mp3</file>
    </object>
    <object>
      <name>pencils</name>
      <file>bert_81.mp3</file>
    </object>
    <object>
      <name>pillow</name>
      <file>bert_82.mp3</file>
    </object>
    <object>
      <name>paper</name>
      <file>bert_83.mp3</file>
    </object>
    <object>
      <name>rug</name>
      <file>bert_84.mp3</file>
    </object>
    <object>
      <name>lemons</name>
      <file>bert_85.mp3</file>
    </object>
    <object>
      <name>lollipop</name>
      <file>bert_86.mp3</file>
    </object>
    <object>
      <name>lunchbox</name>
      <file>bert_87.mp3</file>
    </object>
    <object>
      <name>letterl</name>
      <file>bert_88.mp3</file>
    </object>
    <object>
      <name>drawing</name>
      <file>bert_89.mp3</file>
    </object>
    <object>
      <name>wallet</name>
      <file>bert_91.mp3</file>
    </object>
    <object>
      <name>walnuts</name>
      <file>bert_92.mp3</file>
    </object>
    <object>
      <name>paperclips</name>
      <file>bert_70.mp3</file>
    </object>
  </objects>
  <prepositions>
    <preposition>
      <name>next_to</name>
      <file>bert_94.mp3</file>
    </preposition>
    <preposition>
      <name>below</name>
      <file>bert_95.mp3</file>
    </preposition>
    <preposition>
      <name>on</name>
      <file>bert_96.mp3</file>
    </preposition>
    <preposition>
      <name>behind</name>
      <file>bert_97.mp3</file>
    </preposition>
    <preposition>
      <name>under</name>
      <file>bert_98.mp3</file>
    </preposition>
    <preposition>
      <name>in</name>
      <file>bert_99.mp3</file>
    </preposition>
    <preposition>
      <name>above</name>
      <file>bert_100.mp3</file>
    </preposition>
    <preposition>
      <name>on_top_of</name>
      <file>bert_101.mp3</file>
    </preposition>
  </prepositions>
  <locations>
    <location>
      <name>the_floor</name>
      <file>bert_102.mp3</file>
    </location>
    <location>
      <name>a_window</name>
      <file>bert_103.mp3</file>
    </location>
    <location>
      <name>the_table</name>
      <file>bert_104.mp3</file>
    </location>
    <location>
      <name>the_bowl</name>
      <file>bert_105.mp3</file>
    </location>
    <location>
      <name>the_clock</name>
      <file>bert_64A.mp3</file>
    </location>
    <location>
      <name>the_painting</name>
      <file>bert_107.mp3</file>
    </location>
    <location>
      <name>a_chair</name>
      <file>bert_108.mp3</file>
    </location>
    <location>
      <name>the_green_chair</name>
      <file>bert_110.mp3</file>
    </location>
    <location>
      <name>the_yellow_chair</name>
      <file>bert_111.mp3</file>
    </location>
    <location>
      <name>the_lamp</name>
      <file>bert_112.mp3</file>
    </location>
    <location>
      <name>the_windowsill</name>
      <file>bert_113.mp3</file>
    </location>
    <location>
      <name>the_rug</name>
      <file>bert_115.mp3</file>
    </location>
    <location>
      <name>the_recycling_bin</name>
      <file>bert_116.mp3</file>
    </location>
    <location>
      <name>the_cup</name>
      <file>bert_117.mp3</file>
    </location>
    <location>
      <name>the_bookshelf</name>
      <file>bert_118.mp3</file>
    </location>
    <location>
      <name>the_plant</name>
      <file>bert_119.mp3</file>
    </location>
  </locations>
  <audios>
    <audio>
      <file>bert_12.mp3</file>
    </audio>
    <audio>
      <file>bert_13.mp3</file>
    </audio>
    <audio>
      <file>bert_13_alt.mp3</file>
    </audio>
    <audio>
      <file>bert_14.mp3</file>
    </audio>
    <audio>
      <file>bert_15.mp3</file>
    </audio>
    <audio>
      <file>bert_15a.mp3</file>
    </audio>
    <audio>
      <file>bert_16.mp3</file>
    </audio>
    <audio>
      <file>bert_17.mp3</file>
    </audio>
    <audio>
      <file>bert_18.mp3</file>
    </audio>
    <audio>
      <file>bert_19.mp3</file>
    </audio>
    <audio>
      <file>bert_20.mp3</file>
    </audio>
    <audio>
      <file>bert_22.mp3</file>
    </audio>
    <audio>
      <file>bert_23.mp3</file>
    </audio>
    <audio>
      <file>bert_24.mp3</file>
    </audio>
    <audio>
      <file>bert_25.mp3</file>
    </audio>
    <audio>
      <file>bert_26.mp3</file>
    </audio>
    <audio>
      <file>bert_27.mp3</file>
    </audio>
    <audio>
      <file>bert_28.mp3</file>
    </audio>
    <audio>
      <file>bert_29.mp3</file>
    </audio>
    <audio>
      <file>bert_30.mp3</file>
    </audio>
    <audio>
      <file>bert_31.mp3</file>
    </audio>
    <audio>
      <file>bert_32.mp3</file>
    </audio>
    <audio>
      <file>bert_33.mp3</file>
    </audio>
    <audio>
      <file>bert_34.mp3</file>
    </audio>
    <audio>
      <file>bert_35.mp3</file>
    </audio>
    <audio>
      <file>bert_36.mp3</file>
    </audio>
    <audio>
      <file>bert_37.mp3</file>
    </audio>
    <audio>
      <file>bert_38.mp3</file>
    </audio>
    <audio>
      <file>bert_39.mp3</file>
    </audio>
    <audio>
      <file>bert_40.mp3</file>
    </audio>
    <audio>
      <file>bert_41.mp3</file>
    </audio>
    <audio>
      <file>bert_42.mp3</file>
    </audio>
    <audio>
      <file>bert_43.mp3</file>
    </audio>
    <audio>
      <file>bert_44.mp3</file>
    </audio>
    <audio>
      <file>bert_45.mp3</file>
    </audio>
    <audio>
      <file>bert_46.mp3</file>
    </audio>
  </audios>
  <!-- CHECKERS SET 1-->
  <playset>
    <id>1</id>
    <name>Checkers Championship</name>
    <intro>checkers</intro>
    <object>
      <name>scoreboard</name>
      <start>tgtWall4</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>checkers</name>
      <start>tgtBin1</start>
      <end>tgtTable2</end>
      <end2>tgtTable1</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>left_bottom</zoom>
    </object>
    <object>
      <name>checkerboard</name>
      <start>tgtChair2</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on_top_of</prep>
      <loc>the_table</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>oranges</name>
      <start>tgtFloor5</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>trophy</name>
      <start>tgtChair1</start>
      <end>tgtShelf3</end>
      <end2>tgtShelf2</end2>
      <prep>next_to</prep>
      <loc>the_lamp</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>notebook</name>
      <start>tgtShelf1</start>
      <end>tgtBin1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_recycling_bin</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>right_bottom</zoom>
    </object>
  </playset>
  <!-- Checker set 2-->
  <playset>
    <id>2</id>
    <name>Checkers Championship</name>
    <intro>checkers</intro>
    <object>
      <name>checkerboard</name>
      <start>tgtTable1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>scoreboard</name>
      <start>tgtChair2</start>
      <end>tgtWall4</end>
      <end2/>
      <prep>above</prep>
      <loc>the_plant</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>left_top</zoom>
    </object>
    <object>
      <name>notebook</name>
      <start>tgtShelf2</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>checkers</name>
      <start>tgtFloor4</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>trophy</name>
      <start>tgtChair1</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>oranges</name>
      <start>tgtSill1</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>center_bottom</zoom>
    </object>
  </playset>
  <!-- Checker set 3-->
  <playset>
    <id>3</id>
    <name>Checkers Championship</name>
    <intro>checkers</intro>
    <object>
      <name>trophy</name>
      <start>tgtSill1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>checkers</name>
      <start>tgtVase1</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>oranges</name>
      <start>tgtShelf3</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>scoreboard</name>
      <start>tgtChair1</start>
      <end>tgtWall2</end>
      <end2>tgtWall4</end2>
      <prep>below</prep>
      <loc>the_windowsill</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>right_top</zoom>
    </object>
    <object>
      <name>notebook</name>
      <start>tgtBin1</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>checkerboard</name>
      <start>tgtFloor4</start>
      <end>tgtTable2</end>
      <end2>tgtTable1</end2>
      <prep>on_top_of</prep>
      <loc>the_table</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>center_bottom</zoom>
    </object>
  </playset>
  <playset>
    <id>4</id>
    <name>Bottle Cap Collection</name>
    <intro>bottlecap</intro>
    <object>
      <name>apple</name>
      <start>tgtVase1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>bottlecaps</name>
      <start>tgtFloor4</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>center_bottom</zoom>
    </object>
   
    <object>
      <name>book</name>
      <start>tgtChair1</start>
      <end>tgtShelf3</end>
      <end2>tgtShelf2</end2>
      <prep>next_to</prep>
      <loc>the_lamp</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>bottle</name>
      <start>tgtChair2</start>
      <end>tgtBin1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_recycling_bin</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>hat</name>
      <start>tgtFloor5</start>
      <end>tgtSill1</end>
      <end2/>
      <prep>on</prep>
      <loc>the_windowsill</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>left_top</zoom>
    </object>
	 <object>
      <name>slippers</name>
      <start>tgtShelf1</start>
      <end>tgtFloor1</end>
      <end2/>
      <prep>under</prep>
      <loc>the_yellow_chair</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>left_bottom</zoom>
    </object>
  </playset>
  <!-- BOTTLE CAP SET 2-->
  <playset>
    <id>5</id>
    <name>Bottle Cap Collection</name>
    <intro>bottlecap</intro>
    <object>
      <name>apple</name>
      <start>tgtBowl1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>bottle</name>
      <start>tgtChair2</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>hat</name>
      <start>tgtFloor1</start>
      <end>tgtSill2</end>
      <end2/>
      <prep>on</prep>
      <loc>the_windowsill</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>right_top</zoom>
    </object>
    <object>
      <name>bottlecaps</name>
      <start>tgtShelf1</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>book</name>
      <start>tgtChair1</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>slippers</name>
      <start>tgtBin1</start>
      <end>tgtFloor1</end>
      <end2/>
      <prep>under</prep>
      <loc>the_yellow_chair</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>left_bottom</zoom>
    </object>
  </playset>
  <!-- BOTTLE CAP SET 3-->
  <playset>
    <id>6</id>
    <name>Bottle Cap Collection</name>
    <intro>bottlecap</intro>
    <object>
      <name>pictureframe</name>
      <start>tgtWall1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>apple</name>
      <start>tgtBowl1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>bottle</name>
      <start>tgtChair1</start>
      <end>tgtBin1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_recycling_bin</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>bottlecaps</name>
      <start>tgtSill1</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>book</name>
      <start>tgtVase1</start>
      <end>tgtShelf2</end>
      <end2>tgtShelf3</end2>
      <prep>next_to</prep>
      <loc>the_lamp</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>hat</name>
      <start>tgtFloor4</start>
      <end>tgtSill1</end>
      <end2/>
      <prep>on</prep>
      <loc>the_windowsill</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>left_top</zoom>
    </object>
    <object>
      <name>slippers</name>
      <start>tgtShelf1</start>
      <end>tgtFloor1</end>
      <end2/>
      <prep>under</prep>
      <loc>the_yellow_chair</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>left_bottom</zoom>
    </object>
  </playset>
  <!-- PAPER CLIP SET 1-->
  <playset>
    <id>7</id>
    <name>Paper Clip Collection</name>
    <intro>paperclip</intro>
    <object>
      <name>paperclipbox</name>
      <start>tgtShelf2</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>magazine</name>
      <start>tgtBowl1</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>in</prep2>
      <loc2>the_bowl</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>paperclips</name>
      <start>tgtVase1</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>pencils</name>
      <start>tgtChair2</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>pillow</name>
      <start>tgtShelf1</start>
      <end>tgtChair2</end>
      <end2/>
      <prep>on</prep>
      <loc>the_green_chair</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>paper</name>
      <start>tgtFloor4</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>center_top</zoom>
    </object>
  </playset>
  <!-- PAPERCLIP SET 2-->
  <playset>
    <id>8</id>
    <name>Paper Clip Collection</name>
    <intro>paperclip</intro>
    <object>
      <name>pencils</name>
      <start>tgtChair2</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>paperclips</name>
      <start>tgtFloor3</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>paper</name>
      <start>tgtTable1</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_table</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>pillow</name>
      <start>tgtSill1</start>
      <end>tgtChair1</end>
      <end2/>
      <prep>on</prep>
      <loc>the_yellow_chair</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>left_bottom</zoom>
    </object>
    <object>
      <name>paperclipbox</name>
      <start>tgtShelf2</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>magazine</name>
      <start>tgtVase1</start>
      <end>tgtShelf2</end>
      <end2>tgtShelf3</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>center_top</zoom>
    </object>
  </playset>
  <!-- PAPERCLIP SET 3-->
  <playset>
    <id>9</id>
    <name>Paper Clip Collection</name>
    <intro>paperclip</intro>
    <object>
      <name>paperclips</name>
      <start>tgtBowl1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>paper</name>
      <start>tgtShelf3</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>next_to</prep2>
      <loc2>the_lamp</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>pillow</name>
      <start>tgtTable2</start>
      <end>tgtChair1</end>
      <end2/>
      <prep>on</prep>
      <loc>the_yellow_chair</loc>
      <prep2>on_top_of</prep2>
      <loc2>the_table</loc2>
      <zoom>left_bottom</zoom>
    </object>
    <object>
      <name>magazine</name>
      <start>tgtVase1</start>
      <end>tgtShelf2</end>
      <end2>tgtShelf3</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>paperclipbox</name>
      <start>tgtFloor4</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>pencils</name>
      <start>tgtSill1</start>
      <end>tgtVase2</end>
      <end2>tgtVase1</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>right_top</zoom>
    </object>
  </playset>
  <!-- LETTER L ONLY SET 1-->
  <playset>
    <id>10</id>
    <name>Letter L Lovers</name>
    <intro>letterl</intro>
    <object>
      <name>lemons</name>
      <start>tgtBowl1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>lasagna</name>
      <start>tgtChair1</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>lollipop</name>
      <start>tgtShelf1</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>in</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>lunchbox</name>
      <start>tgtFloor1</start>
      <end>tgtShelf3</end>
      <end2>tgtShelf2</end2>
      <prep>next_to</prep>
      <loc>the_lamp</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>letterl</name>
      <start>tgtChair2</start>
      <end>tgtWall4</end>
      <end2/>
      <prep>under</prep>
      <loc>the_windowsill</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>left_top</zoom>
    </object>
    <object>
      <name>lemonade</name>
      <start>tgtBin1</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on_top_of</prep>
      <loc>the_table</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>center_bottom</zoom>
    </object>
  </playset>
  <!-- LETTER L ONLY SET 2-->
  <playset>
    <id>11</id>
    <name>Letter L Lovers</name>
    <intro>letterl</intro>
    <object>
      <name>lollipop</name>
      <start>tgtShelf1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>lettuce</name>
      <start>tgtTable1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>lemons</name>
      <start>tgtChair1</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>lasagna</name>
      <start>tgtSill2</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>letterl</name>
      <start>tgtFloor4</start>
      <end>tgtWall4</end>
      <end2/>
      <prep>above</prep>
      <loc>the_plant</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>left_bottom</zoom>
    </object>
    <object>
      <name>lunchbox</name>
      <start>tgtBin1</start>
      <end>tgtShelf2</end>
      <end2>tgtShelf3</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>lemonade</name>
      <start>tgtFloor3</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>right_bottom</zoom>
    </object>
  </playset>
  <!-- LETTER L ONLY SET 3-->
  <playset>
    <id>12</id>
    <name>Letter L Lovers</name>
    <intro>letterl</intro>
    <object>
      <name>lasagna</name>
      <start>tgtTable1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>lemonade</name>
      <start>tgtTable2</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>letterl</name>
      <start>tgtFloor4</start>
      <end>tgtWall2</end>
      <end2/>
      <prep>below</prep>
      <loc>the_windowsill</loc>
      <prep2>under</prep2>
      <loc2>the_table</loc2>
      <zoom>right_top</zoom>
    </object>
    <object>
      <name>lettuce</name>
      <start>tgtShelf3</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>next_to</prep2>
      <loc2>the_lamp</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>lemons</name>
      <start>tgFloor5</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>lunchbox</name>
      <start>tgtChair2</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>lollipop</name>
      <start>tgtSill1</start>
      <end2>tgtShelf2</end2>
      <end>tgtShelf3</end>
      <end2/>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>center_top</zoom>
    </object>
  </playset>
  <!-- ARTWORK SET 1-->
  <playset>
    <id>13</id>
    <name>Afternoon of Quiet Artwork</name>
    <intro>artwork</intro>
    <object>
      <name>apple</name>
      <start>tgtTable1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>paper</name>
      <start>tgtSill2</start>
      <end>tgtBin1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_recycling_bin</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>right_bottom</zoom>
    </object>
    <object>
      <name>crayons</name>
      <start>tgtShelf3</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>scissors</name>
      <start>tgtChair2</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>paintbrush</name>
      <start>tgtVase1</start>
      <end>tgtShelf2</end>
      <end2>tgtShelf3</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>next_to</prep2>
      <loc2>the_clock</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>paint</name>
      <start>tgtFloor3</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_bottom</zoom>
    </object>
  </playset>
  <!-- ARTWORK SET 2-->
  <playset>
    <id>14</id>
    <name>Afternoon of Quiet Artwork</name>
    <intro>artwork</intro>
    <object>
      <name>apple</name>
      <start>tgtBowl1</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>paintbrush</name>
      <start>tgtFloor3</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>paper</name>
      <start>tgtChair2</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_green_chair</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>scissors</name>
      <start>tgtShelf2</start>
      <end>tgtTable1</end>
      <end2>tgtTable2</end2>
      <prep>on</prep>
      <loc>the_table</loc>
      <prep2>next_to</prep2>
      <loc2>the_lamp</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>crayons</name>
      <start>tgtSill1</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>right_top</zoom>
    </object>
    <object>
      <name>paint</name>
      <start>tgtChair1</start>
      <end>tgtShelf3</end>
      <end2>tgtShelf2</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
  </playset>
  <!-- ARTWORK SET 3-->
  <playset>
    <id>15</id>
    <name>Afternoon of Quiet Artwork</name>
    <intro>artwork</intro>
    <object>
      <name>apple</name>
      <start>tgtVase2</start>
      <end/>
      <end2/>
      <prep/>
      <loc/>
      <prep2/>
      <loc2/>
      <zoom/>
    </object>
    <object>
      <name>scissors</name>
      <start>tgtShelf2</start>
      <end>tgtBowl1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bowl</loc>
      <prep2>on</prep2>
      <loc2>the_bookshelf</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>paintbrush</name>
      <start>tgtFloor3</start>
      <end>tgtShelf1</end>
      <end2/>
      <prep>in</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_rug</loc2>
      <zoom>center_top</zoom>
    </object>
    <object>
      <name>paper</name>
      <start>tgtBin1</start>
      <end>tgtTable2</end>
      <end2/>
      <prep>next_to</prep>
      <loc>the_bowl</loc>
      <prep2>in</prep2>
      <loc2>the_recycling_bin</loc2>
      <zoom>center_bottom</zoom>
    </object>
    <object>
      <name>crayons</name>
      <start>tgtSill1</start>
      <end>tgtVase1</end>
      <end2>tgtVase2</end2>
      <prep>next_to</prep>
      <loc>the_clock</loc>
      <prep2>on</prep2>
      <loc2>the_windowsill</loc2>
      <zoom>right_top</zoom>
    </object>
    <object>
      <name>paint</name>
      <start>tgtChair1</start>
      <end>tgtShelf3</end>
      <end2>tgtShelf2</end2>
      <prep>on_top_of</prep>
      <loc>the_bookshelf</loc>
      <prep2>on</prep2>
      <loc2>the_yellow_chair</loc2>
      <zoom>center_top</zoom>
    </object>
  </playset>
</configData>