@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
@font-face {
    font-family: "sc";
    src: url("verdana.ttf");
}
#logo {
    background-image: url("brycespixlogobirth.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000000;
	background-image: url("Circlesrainbow.png");
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 2px 2px 3px black;
	cursor:url('downloads/cursormania/2190.gif'),auto;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #FFFFFF;
	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    font-family: "sansbd";
}
.shadeless {
	color: #000000;
	text-shadow: 2px 2px 3px black;
}
.smol {
  font-size: 10px;
}
.voidx {
	background-color: #ffffff;
}
.voidax {
	background-color: #cccccc;
	color: black;
	text-shadow: 1px 1px 1px white;
}
.voidtalk {
	background-color: #ffffff;
}
.voidtalk a {
	color: #000000;
	text-decoration: none;
	background-image: linear-gradient(white);
	font-family: "sc";
    font-size: 10pt;
	font-weight: normal;
	text-shadow: 1px 1px 1px white;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}