@font-face {
    font-family: "sans";
    src: url("fairlyoddfont.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("fairlyoddfont.ttf");
}
#logo {
    background-image: url("brycespixlogofop.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000000;
	background-image: url("downloads/fop/love.png");
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 1px 1px 3px black;
	background-repeat: repeat;
	font-size: 23px;
	line-height: 0.9;
}
table {
	border-color: white;
	table-align: center;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
a {
	color: #ffdd00;
	font-family: "sansbd";
}
.ng a {
	color: #00ffff;
}
.cur {
	background-color: #444488;
}
.smol {
  font-size: 10px;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}