#logo {
    background-image: url("brycespixlogogoogle.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
	color: black;
	font-size: 13px;
}
a {
	font-weight: normal;
}
table {
	border-color: black;
	table-align: center;
}
th {
	font-weight: normal;
}
.smol {
  font-size: 10px;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.squish {
	line-height: 0px;
}
.gry {
	background-color: #B8B8B8;
}
.blk {
	background-color: #000000;
}
h1 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}
h2 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}
h3 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}
h4 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}
h5 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}
h6 {
	font-weight: normal;
	color: #484848;
	font-weight: bold;
}