@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogohallo.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000000;
	background-image: url("Circleshallo.png");
	text-align: center;
	font-family: "sans";
	color: #fcfe4c;
	text-shadow: 0 0 10px #ffaa00, 0 0 15px #ffaa00, 0 0 2px #ffaa00;
	cursor:url('8304.gif'),auto;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #660066;
	font-family: "sansbd";
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.shadeless {
	text-shadow: 0px 0px 0px black;
}
.smol {
  font-size: 10px;
}
.voidx {
	background-color: #ffffff;
}
.voidax {
	background-color: #cccccc;
	color: black;
	text-shadow: 1px 1px 1px white;
}
.ghost {
	width: 105px;
	height: 96px;
	background-image: url("THEGHOST.gif"); 
}
.ghost:hover {
	background-image: url("THEGHOSTe.gif"); 
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}