@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogohearts.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000000;
	background-image: url("Circleshearts.png");
	text-align: center;
	font-family: "sans";
	color: #ffddff;
	text-shadow: 2px 2px 3px #ff0000;
	cursor:url('downloads/cursormania/7627.gif'),auto;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #ff0000;
	font-family: "sansbd";
	text-shadow: 2px 2px 3px #aa0000;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.shadeless {
	text-shadow: 0px 0px 0px white;
}
.smol {
  font-size: 10px;
}
.voidx {
	background-color: #ffffff;
}
.voidax {
	background-color: #cccccc;
	color: black;
	text-shadow: 1px 1px 1px white;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}