@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
body {
	background-color: #000000;
  background-image: url("minga2/backgroundcave-1.png.png");
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 1px 1px 3px black;
	
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #ff00ff;
}
