@font-face {
    font-family: "nsmb";
    src: url("nsmbu.ttf");
}
body {
	background-color: rgba(0,0,0,0.5);
	background-image: url("bricku.gif");
    background-blend-mode: darken;
	text-align: center;
	font-family: "nsmb";
	color: white;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #ddcc00;
	font-family: "nsmb";
	font-weight: normal;
}
h1 {
	font-family: "nsmb";
	font-weight: normal;
}
h2 {
	font-family: "nsmb";
	font-weight: normal;
}
h3 {
	font-family: "nsmb";
	font-weight: normal;
}
h4 {
	font-family: "nsmb";
	font-weight: normal;
}
h5 {
	font-family: "nsmb";
	font-weight: normal;
}
h6 {
	font-family: "nsmb";
	font-weight: normal;
}
th{
	font-weight: normal;
}