@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogopac.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000000;
	background-image: url("lelegodlex/pac/pac.png");
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 1px 1px 3px black;
}
table, th, td {
	border-color: #0000FF;
	table-align: center;
	border-radius: 5px;
	background-color: #000000;
}
a {
	color: #ffff00;
	font-family: "sansbd";
}
.shadeless {
	text-shadow: 0px 0px 0px black;
}
.smol {
  font-size: 10px;
}
.voidx {
	background-color: #ffffff;
	color: black;
	text-shadow: 1px 1px 1px white;
}
.voidx a {
	text-shadow: 1px 1px 1px white;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}