@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogosb.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #2a5402;
	background-image: url("downloads/sb/sp.jpg");
	text-align: center;
	font-family: "sans";
	color: #ffff00;
	text-shadow: 1px 1px 3px black;
}
table {
	border-color: black;
	table-align: center;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
a {
	color: #ec6194;
	font-family: "sansbd";
}
.shadeless {
	text-shadow: 0px 0px 0px black;
}
.cur {
	background-color: #666666;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}
