@font-face {
    font-family: "sans";
    src: url("sesame.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("sesamebd.ttf");
}
@font-face {
    font-family: "sansbdbackup";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogosesame.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #000044;
	background-image: url("downloads/sesame/heads.png");
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 1px 1px 3px black;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #00ff00;
	font-family: "sansbd";
}
.sesamvoid {
	background-color: #FFFFFF;
	color: black;
	text-shadow: 0px 0px 0px white;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.backup {
	font-family: "sansbdbackup";
	display: inline;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}