body {
	background-color: #aaaa00;
	background-image: url("smileycentral/wallpapers/happy_bg.jpg");
	text-align: center;
	font-family: Comic Sans MS;
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
table {
	border-color: black;
	table-align: center;
}
a {
	color: #444400;
}
.void {
	background-color: #ffffff;
}