body {
	background-color: #305404;
	background-image: url("smileycentral/shocked_bg.jpg");
	text-align: center;
	font-family: Comic Sans MS;
	color: black;
}
table {
	border-color: yellow;
	table-align: center;
}
a {
	color: #ffff66;
}
.void {
	background-color: #ffffff;
}
.btx {
	color: white;
}