@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
#logo {
    background-image: url("brycespixlogosmiley.png");
    background-width: 210;
    background-height: 51;
	background-repeat: no-repeat;
	background-position: center; 
}
body {
	background-color: #00004e;
	background-image: url("smileycentral/smileblue.gif");
	text-align: center;
	font-family: "sans";
	color: white;
}
table {
	border-color: black;
	table-align: center;
}
a {
	color: #ff00ff;
	font-family: "sansbd";
}
.void {
	background-color: #ffffff;
}
.void a {
	color: #0000aa;
}
.pix {
	image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}
