@font-face {
    font-family: "sans";
    src: url("C:/Users/Desktop/Website/fonts/Harlow_Solid_Italic.ttf");
}
body {
	background-color: #004D2F;
	text-align: center;
	font-family: "sans";
	color: white;
	text-shadow: 1px 1px 3px black;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #ff00ff;
}
