body {
	background-image: url("bsnbg.jpg");
	background-color: #000000;
	text-align: center;
	font-family: Comic Sans MS;
	color: white;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #aaaaff;
}
