body {
	background-image: url("bsnbg.jpg");
	background-color: #0000aa;
	text-align: center;
	font-family: Comic Sans MS;
	color: white;
	cursor: url('3976.ico'), default;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: #aaaaff;
}
