@font-face {
    font-family: "sans";
    src: url("comic.ttf");
}
@font-face {
    font-family: "sansbd";
    src: url("comicbd.ttf");
}
body {
	background-color: #000000;
	background-image: url("Circlesthanks.png");
	text-align: center;
	font-family: "sans";
	color: yellow;
	text-shadow: 1px 1px 3px red;
}
table {
	border-color: white;
	table-align: center;
}
a {
	color: orange;
	font-family: "sansbd";
}
.shadeless {
	text-shadow: 0px 0px 0px black;
}
.smol {
  font-size: 10px;
}
.voidx {
	background-color: #ffffff;
}
h1 {
	font-family: "sansbd";
}
h2 {
	font-family: "sansbd";
}
h3 {
	font-family: "sansbd";
}
h4 {
	font-family: "sansbd";
}
h5 {
	font-family: "sansbd";
}
h6 {
	font-family: "sansbd";
}