<configData>
	<debug>
		<playset/>
	</debug>

	<timer>
		<name>idle</name>
		<delay>12000</delay>
	</timer>
	<timer>
		<name>rollover</name>
		<delay>1000</delay>
	</timer>
	<icon>
		<name>farm</name>
		<jpg>icons/th_farm.jpg</jpg>
		<rollover>rollFarm</rollover>
		<active>true</active>
	</icon>
	<icon>
		<name>park</name>
		<jpg>icons/th_park.jpg</jpg>
		<rollover>rollPark</rollover>
		<active>true</active>
	</icon>
	<icon>
		<name>rainforest</name>
		<jpg>icons/th_rainforest.jpg</jpg>
		<rollover>rollRainforest</rollover>
		<active>true</active>
	</icon>
	<icon>
		<name>beach</name>
		<jpg>icons/th_seashore.jpg</jpg>
		<rollover>rollSeashore</rollover>
		<active>true</active>
	</icon>
	<icon>
		<name>wetland</name>
		<jpg>icons/th_wetland.jpg</jpg>
		<rollover>rollWetlands</rollover>
		<active>true</active>
	</icon>

	<level>
		<number>1</number>
		<pass_count>1</pass_count>
	</level>
	<level>
		<number>2</number>
		<pass_count>1</pass_count>
	</level>
	<level>
		<number>3</number>
		<pass_count>1</pass_count>
	</level>

	<letter>
		<naem>A</naem>
		<audio>letters/letter_1.mp3</audio>
	</letter>
	<letter>
		<naem>B</naem>
		<audio>letters/letter_2.mp3</audio>
	</letter>
	<letter>
		<naem>C</naem>
		<audio>letters/letter_3.mp3</audio>
	</letter>

	<habitat>
		<name>farm</name>
		<jpg>backgrounds/farm.jpg</jpg>
		<description>descFarm</description>
		<hat>default</hat>
		<costume>default</costume>
		<legs>default</legs>
		<playable>
			<name>bunny</name>
			<swf>playables/farm/bunny.swf</swf>
			<audio>audio/farm_B_4.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>bee</name>
			<swf>playables/farm/bee.swf</swf>
			<audio>audio/farm_B_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,8,9</spots>
			<syllables>1</syllables>
	</playable>
	<playable>
			<name>barn</name>
			<swf>playables/farm/barn.swf</swf>
			<audio>audio/farm_B_3.mp3</audio>
			<type>consonant</type>
		<spots>1</spots>
		<syllables>1</syllables>
	</playable>
	<playable>
			<name>beans</name>
			<swf>playables/farm/beans.swf</swf>
			<audio>audio/farm_B_6.mp3</audio>
		<type>noun</type>
		<spots>10</spots>
		<syllables>1</syllables>
	</playable>
	<playable>
			<name>cat</name>
			<swf>playables/farm/cat.swf</swf>
			<audio>audio/farm_C_1.mp3</audio>
		<type>consonant</type>
		<spots>3,4,5,6,8,9</spots>
		<syllables>1</syllables>
	</playable>
		<playable>
			<name>cow</name>
			<swf>playables/farm/cow.swf</swf>
			<audio>audio/farm_C_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>corn</name>
			<swf>playables/farm/corn.swf</swf>
			<audio>audio/farm_C_3.mp3</audio>
			<type>noun</type>
			<spots>2</spots>
			<syllables>1</syllables>
		</playable>
		
		<playable>
			<name>carrot</name>
			<swf>playables/farm/carrot.swf</swf>
			<audio>audio/farm_C_5.mp3</audio>
			<type>consonant</type>
			<spots>10</spots>
			<syllables>2</syllables>
		</playable>
		
		<playable>
			<name>hen</name>
			<swf>playables/farm/hen.swf</swf>
			<audio>audio/farm_H_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>horse</name>
			<swf>playables/farm/horse.swf</swf>
			<audio>audio/farm_H_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>hay</name>
			<swf>playables/farm/hay.swf</swf>
			<audio>audio/farm_H_4.mp3</audio>
			<type>noun</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>mouse</name>
			<swf>playables/farm/mouse.swf</swf>
			<audio>audio/farm_M_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>muffin</name>
			<swf>playables/farm/muffin.swf</swf>
			<audio>audio/farm_M_2.mp3</audio>
			<type>consonant</type>
			<spots>3,5,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>milk</name>
			<swf>playables/farm/milk.swf</swf>
			<audio>audio/farm_M_3.mp3</audio>
			<type>noun</type>
			<spots>3,5,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>pond</name>
			<swf>playables/farm/pond.swf</swf>
			<audio>audio/farm_P_1.mp3</audio>
			<type>consonant</type>
			<spots>3</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>pig</name>
			<swf>playables/farm/pig.swf</swf>
			<audio>audio/farm_P_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,9</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>plant</name>
			<swf>playables/farm/plant.swf</swf>
			<audio>audio/farm_P_3.mp3</audio>
			<type>consonant</type>
			<spots>10</spots>
			<syllables>1</syllables>
		</playable>
		
        <available_playables>bunny,bee,barn,beans,cat,cow,corn,carrot,hen,horse,hay,mouse,muffin,milk,pond,pig,plant</available_playables>

		<playset>
			<name>B</name>
			<correct>bunny,bee,barn,beans</correct>
			<incorrect>cat,cow,corn,carrot,hen,hay,mouse,muffin,milk,pond,pig,plant</incorrect>
		</playset>
		<playset>
			<name>C</name>
			<correct>cat,cow,corn,carrot</correct>
			<incorrect>barn,bunny,bee,beans,hen,hay,mouse,muffin,milk,pond,pig,plant</incorrect>			
		</playset>
		<playset>
			<name>H</name>
			<correct>hen,horse,hay</correct>
			<incorrect>barn,bunny,bee,beans,cat,cow,corn,carrot,mouse,muffin,milk,pond,pig,plant</incorrect>			
		</playset>
		<playset>
			<name>M</name>
			<correct>mouse,muffin,milk</correct>
			<incorrect>barn,bunny,bee,beans,cat,cow,corn,carrot,hen,hay,pond,pig,plant</incorrect>
		</playset>
		<playset>
			<name>P</name>
			<correct>pond,pig,plant</correct>
			<incorrect>bunny,bee,barn,beans,cat,cow,corn,carrot,hen,hay,mouse,muffin,milk</incorrect>
		</playset>
	</habitat>

	<habitat>
		<name>park</name>
		<jpg>backgrounds/park.jpg</jpg>
		<description>descPark</description>
		<hat>default</hat>
		<costume>default</costume>
		<legs>default</legs>
		<playable>
			<name>balloons</name>
			<swf>playables/park/balloons.swf</swf>
			<audio>audio/park_B_8.mp3</audio>
			<type>noun</type>
			<spots>1</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>baseball</name>
			<swf>playables/park/baseball.swf</swf>
			<audio>audio/park_B_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>basket</name>
			<swf>playables/park/basket.swf</swf>
			<audio>audio/park_B_9.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>basketball</name>
			<swf>playables/park/basketball.swf</swf>
			<audio>audio/park_B_3.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>bee</name>
			<swf>playables/park/bee.swf</swf>
			<audio>audio/park_B_5.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5,6,7</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>bench</name>
			<swf>playables/park/bench.swf</swf>
			<audio>audio/park_B_4.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>bush</name>
			<swf>playables/park/bush.swf</swf>
			<audio>audio/park_B_7.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>butterfly</name>
			<swf>playables/park/butterfly.swf</swf>
			<audio>audio/park_B_6.mp3</audio>
			<type>consonant</type>
			<spots>1,2,9</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>daisy</name>
			<swf>playables/park/daisy.swf</swf>
			<audio>audio/park_D_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>dandelion</name>
			<swf>playables/park/dandelion.swf</swf>
			<audio>audio/park_D_3.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,7,8</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>dog</name>
			<swf>playables/park/dog.swf</swf>
			<audio>audio/park_D_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>duck</name>
			<swf>playables/park/duck.swf</swf>
			<audio>audio/park_D_5.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>leaf</name>
			<swf>playables/park/leaf.swf</swf>
			<audio>audio/park_L_3.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>lizard</name>
			<swf>playables/park/lizard.swf</swf>
			<audio>audio/park_L_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>log</name>
			<swf>playables/park/log.swf</swf>
			<audio>audio/park_L_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		
		<playable>
			<name>pony</name>
			<swf>playables/park/pony.swf</swf>
			<audio>audio/park_P_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,6,7</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>pigeon</name>
			<swf>playables/park/pigeon.swf</swf>
			<audio>audio/park_P_3.mp3</audio>
			<type>consonant</type>
			<spots>1,2,9</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>pond</name>
			<swf>playables/park/pond.swf</swf>
			<audio>audio/park_P_4.mp3</audio>
			<type>consonant</type>
			<spots>8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>radio</name>
			<swf>playables/park/radio.swf</swf>
			<audio>audio/park_R_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>rainbow</name>
			<swf>playables/park/rainbow.swf</swf>
			<audio>audio/park_R_2.mp3</audio>
			<type>consonant</type>
			<spots>1,9</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>robin</name>
			<swf>playables/park/robin.swf</swf>
			<audio>audio/park_R_3.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8,10</spots>
			<syllables>2</syllables>
		</playable>

		<available_playables>balloons,baseball,basket,basketball,bee,bench,bush,butterfly,daisy,dandelion,dog,duck,leaf,lizard,log,pony,pigeon,pond,radio,rainbow,robin</available_playables>

	
		<playset>
			<name>B</name>
			<correct>balloons,baseball,basket,basketball,bee,bench,bush,butterfly</correct>
			<incorrect>daisy,dandelion,dog,duck,leaf,lizard,log,radio,rainbow</incorrect>
		</playset>
		<playset>
			<name>D</name>
			<correct>daisy,dandelion,dog,duck</correct>
			<incorrect>balloons,baseball,basket,basketball,bee,bench,bush,butterfly,leaf,lizard,log,radio,rainbow</incorrect>			
		</playset>
		<playset>
			<name>L</name>
			<correct>leaf,lizard,log</correct>
			<incorrect>balloons,baseball,basket,basketball,bee,bench,bush,butterfly,daisy,dandelion,dog,duck,pigeon,radio,rainbow</incorrect>			
		</playset>
		<playset>
			<name>P</name>
			<correct>pony,pigeon,pond</correct>
			<incorrect>balloons,baseball,basket,basketball,bee,bench,bush,butterfly,daisy,dandelion,dog,duck,radio,rainbow</incorrect>
		</playset>
		<playset>
			<name>R</name>
			<correct>radio,robin,rainbow</correct>
			<incorrect>balloons,baseball,basket,basketball,bee,bench,bush,butterfly,daisy,dandelion,dog,duck,pond</incorrect>
		</playset>
	</habitat>

	<habitat>
		<name>rainforest</name>
		<jpg>backgrounds/rainforest.jpg</jpg>
		<description>descRainforest</description>
		<hat>default</hat>
		<costume>default</costume>
		<legs>default</legs>
		<playable>
			<name>boaconstrictor</name>
			<swf>playables/rainforest/boaconstrictor.swf</swf>
			<audio>audio/rainforest_B_1.mp3</audio>
			<type>consonant</type>
			<spots>6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>butterfly</name>
			<swf>playables/rainforest/butterfly.swf</swf>
			<audio>audio/rainforest_B_2.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5,6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>beetle</name>
			<swf>playables/rainforest/beetle.swf</swf>
			<audio>audio/rainforest_B_3.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>bats</name>
			<swf>playables/rainforest/bats.swf</swf>
			<audio>audio/rainforest_B_4.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3</spots>
			<syllables>1</syllables>
		</playable>
		
		<playable>
			<name>fox</name>
			<swf>playables/rainforest/fox.swf</swf>
			<audio>audio/rainforest_F_3.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>frog</name>
			<swf>playables/rainforest/frog.swf</swf>
			<audio>audio/rainforest_F_1.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>fungus</name>
			<swf>playables/rainforest/fungus.swf</swf>
			<audio>audio/rainforest_F_2.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>lemur</name>
			<swf>playables/rainforest/lemur.swf</swf>
			<audio>audio/rainforest_L_1.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>leopard</name>
			<swf>playables/rainforest/leopard.swf</swf>
			<audio>audio/rainforest_L_2.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>lizard</name>
			<swf>playables/rainforest/lizard.swf</swf>
			<audio>audio/rainforest_L_3.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>monkey</name>
			<swf>playables/rainforest/monkey.swf</swf>
			<audio>audio/rainforest_M_1.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>millipede</name>
			<swf>playables/rainforest/millipede.swf</swf>
			<audio>audio/rainforest_M_4.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>manatee</name>
			<swf>playables/rainforest/manatee.swf</swf>
			<audio>audio/rainforest_M_2.mp3</audio>
			<type>consonant</type>
			<spots>4</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>parrot</name>
			<swf>playables/rainforest/parrot.swf</swf>
			<audio>audio/rainforest_P_1.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>python</name>
			<swf>playables/rainforest/python.swf</swf>
			<audio>audio/rainforest_P_3.mp3</audio>
			<type>consonant</type>
			<spots>6,7,8,9,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>papaya</name>
			<swf>playables/rainforest/papaya.swf</swf>
			<audio>audio/rainforest_P_4.mp3</audio>
			<type>consonant</type>
			<spots>5,6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		
	
		<available_playables>boaconstrictor,butterfly,beetle,bats,fox,frog,fungus,lemur,leopard,lizard,monkey,millipede,manatee,parrot,python,papaya</available_playables>

		<playset>
			<name>B</name>
			<correct>boaconstrictor,butterfly,beetle,bats</correct>
			<incorrect>fox,frog,fungus,lemur,leopard,lizard,manatee,millipede,monkey,monkey,papaya,parrot</incorrect>
		</playset>
		<playset>
			<name>F</name>
			<correct>fox,frog,fungus</correct>
			<incorrect>lemur,leopard,lizard,boaconstrictor,beetle,bats,butterfly,lemur,leopard,lizard,manatee,millipede,monkey,monkey,papaya,parrot</incorrect>
		</playset>
		<playset>
			<name>L</name>
			<correct>lemur,leopard,lizard</correct>
			<incorrect>fox,fungus,frog,boaconstrictor,beetle,bats,butterfly,manatee,millipede,monkey,monkey,papaya,parrot</incorrect>
		</playset>
		<playset>
			<name>M</name>
			<correct>monkey,millipede,manatee</correct>
			<incorrect>fox,frog,lemur,leopard,lizard,boaconstrictor,butterfly,beetle,bats,papaya,parrot</incorrect>
		</playset>
		<playset>
			<name>P</name>
			<correct>parrot,python,papaya</correct>
			<incorrect>fox,frog,fungus,lemur,leopard,lizard,beetle,bats,butterfly,manatee,millipede,monkey</incorrect>
		</playset>
	</habitat>

	<habitat>
		<name>beach</name>
		<jpg>backgrounds/seashore.jpg</jpg>
		<description>descSeashore</description>
		<hat>default</hat>
		<costume>beach</costume>
		<legs>beach</legs>
		<playable>
			<name>ball</name>
			<swf>playables/beach/ball.swf</swf>
			<audio>audio/beach_B_6.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>beetle</name>
			<swf>playables/beach/beetle.swf</swf>
			<audio>audio/beach_B_4.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>bird</name>
			<swf>playables/beach/bird.swf</swf>
			<audio>audio/beach_B_1.mp3</audio>
			<type>consonant</type>
			<spots>1,2</spots>
			<syllables>1</syllables>
		</playable>
		
		<playable>
			<name>pail</name>
			<swf>playables/beach/pail.swf</swf>
			<audio>audio/beach_P_4.mp3</audio>
			<type>consonant</type>
			<spots>4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>palmtree</name>
			<swf>playables/beach/palmtree.swf</swf>
			<audio>audio/beach_P_1.mp3</audio>
			<type>consonant</type>
			<spots>3</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>pelican</name>
			<swf>playables/beach/pelican.swf</swf>
			<audio>audio/beach_P_2.mp3</audio>
			<type>consonant</type>
			<spots>1,2</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>sand</name>
			<swf>playables/beach/sand.swf</swf>
			<audio>audio/beach_S_1.mp3</audio>
			<type>noun</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>sandcastle</name>
			<swf>playables/beach/sandcastle.swf</swf>
			<audio>audio/beach_S_10.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>seagull</name>
			<swf>playables/beach/seagull.swf</swf>
			<audio>audio/beach_S_5.mp3</audio>
			<type>consonant</type>
			<spots>1,2</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>seahorse</name>
			<swf>playables/beach/seahorse.swf</swf>
			<audio>audio/beach_S_8.mp3</audio>
			<type>consonant</type>
			<spots>9,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>seastar</name>
			<swf>playables/beach/seastar.swf</swf>
			<audio>audio/beach_S_9.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>seaweed</name>
			<swf>playables/beach/seaweed.swf</swf>
			<audio>audio/beach_S_3.mp3</audio>
			<type>noun</type>
			<spots>9,10</spots>
			<syllables>2</syllables>
		</playable>
		
		<playable>
			<name>sun</name>
			<swf>playables/beach/sun.swf</swf>
			<audio>audio/beach_S_6.mp3</audio>
			<type>consonant</type>
			<spots>1,2</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>sunglasses</name>
			<swf>playables/beach/sunglasses.swf</swf>
			<audio>audio/beach_S_12.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>sunscreen</name>
			<swf>playables/beach/sunscreen.swf</swf>
			<audio>audio/beach_S_11.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>towel</name>
			<swf>playables/beach/towel.swf</swf>
			<audio>audio/beach_T_2.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>toys</name>
			<swf>playables/beach/toys.swf</swf>
			<audio>audio/beach_T_3.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>turtle</name>
			<swf>playables/beach/turtle.swf</swf>
			<audio>audio/beach_T_1.mp3</audio>
			<type>consonant</type>
			<spots>3,4,5,6,7,8</spots>
			<syllables>2</syllables>
		</playable>

		<available_playables>ball,beetle,bird,pail,palmtree,pelican,sand,sandcastle,seagull,seahorse,seastar,seaweed,sun,sunglasses,sunscreen,towel,toys,turtle</available_playables>

		<playset>
			<name>B</name>
			<correct>ball,beetle,bird</correct>
			<incorrect>pail,palmtree,sand,sandcastle,seahorse,seastar,seaweed,sun,sunglasses,sunscreen,turtle,towel</incorrect>
		</playset>
		<playset>
			<name>P</name>
			<correct>pail,palmtree,pelican</correct>
			<incorrect>beetle,sand,sandcastle,seahorse,seastar,seaweed,sun,sunglasses,sunscreen,turtle,towel</incorrect>
		</playset>
		<playset>
			<name>S</name>
			<correct>sand,sandcastle,seagull,seahorse,seastar,seaweed,sun,sunglasses,sunscreen</correct>
			<incorrect>beetle,ball,pail,palmtree,turtle,towel</incorrect>
		</playset>
		<playset>
			<name>T</name>
			<correct>towel,turtle,toys</correct>
			<incorrect>beetle,ball,pail,seahorse,seastar,seaweed,sun,sunglasses,sunscreen</incorrect>
		</playset>
	</habitat>

	<habitat>
		<name>wetland</name>
		<jpg>backgrounds/wetland.jpg</jpg>
		<description>descWetlands</description>
		<hat>default</hat>
		<costume>default</costume>
		<legs>default</legs>
		<playable>
			<name>butterfly</name>
			<swf>playables/wetland/butterfly.swf</swf>
			<audio>audio/wetland_B_3.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5,6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>beetle</name>
			<swf>playables/wetland/beetle.swf</swf>
			<audio>audio/wetland_B_4.mp3</audio>
			<type>consonant</type>
			<spots>1,6,7</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>bats</name>
			<swf>playables/wetland/bats.swf</swf>
			<audio>audio/wetland_B_5.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>bird</name>
			<swf>playables/wetland/bird.swf</swf>
			<audio>audio/wetland_B_8.mp3</audio>
			<type>consonant</type>
			<spots>1,3,6,7,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>frog</name>
			<swf>playables/wetland/frog.swf</swf>
			<audio>audio/wetland_F_1.mp3</audio>
			<type>consonant</type>
			<spots>1,6,7,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>fish</name>
			<swf>playables/wetland/fish.swf</swf>
			<audio>audio/wetland_F_2.mp3</audio>
			<type>consonant</type>
			<spots>4,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>firefly</name>
			<swf>playables/wetland/firefly.swf</swf>
			<audio>audio/wetland_F_4.mp3</audio>
			<type>consonant</type>
			<spots>1,2,3,4,5,6,7,8,9,10</spots>
			<syllables>3</syllables>
		</playable>
		<playable>
			<name>fly</name>
			<swf>playables/wetland/fly.swf</swf>
			<audio>audio/wetland_F_5.mp3</audio>
			<type>consonant</type>
			<spots>1,3,4,6</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>mud</name>
			<swf>playables/wetland/mud.swf</swf>
			<audio>audio/wetland_M_1.mp3</audio>
			<type>noun</type>
			<spots>7,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>muskrat</name>
			<swf>playables/wetland/muskrat.swf</swf>
			<audio>audio/wetland_M_2.mp3</audio>
			<type>consonant</type>
			<spots>1,3,6,9</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>moss</name>
			<swf>playables/wetland/moss.swf</swf>
			<audio>audio/wetland_M_3.mp3</audio>
			<type>noun</type>
			<spots>7,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>rock</name>
			<swf>playables/wetland/rock.swf</swf>
			<audio>audio/wetland_R_2.mp3</audio>
			<type>consonant</type>
			<spots>6,7,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>reed</name>
			<swf>playables/wetland/reed.swf</swf>
			<audio>audio/wetland_R_3.mp3</audio>
			<type>consonant</type>
			<spots>4,8</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>raccoon</name>
			<swf>playables/wetland/raccoon.swf</swf>
			<audio>audio/wetland_R_4.mp3</audio>
			<type>consonant</type>
			<spots>1,7,9,10</spots>
			<syllables>2</syllables>
		</playable>
		<playable>
			<name>snake</name>
			<swf>playables/wetland/snake.swf</swf>
			<audio>audio/wetland_S_2.mp3</audio>
			<type>consonant</type>
			<spots>1,7,9,10</spots>
			<syllables>1</syllables>
		</playable>
		<playable>
			<name>salamander</name>
			<swf>playables/wetland/salamander.swf</swf>
			<audio>audio/wetland_S_3.mp3</audio>
			<type>consonant</type>
			<spots>7,9,10</spots>
			<syllables>3</syllables>
		</playable>
			<playable>
			<name>sparrow</name>
			<swf>playables/wetland/sparrow.swf</swf>
			<audio>audio/wetland_S_5.mp3</audio>
				<type>consonant</type>
				<spots>1,2,3,4,5,6</spots>
				<syllables>2</syllables>
		</playable>
			<playable>
			<name>toad</name>
			<swf>playables/wetland/toad.swf</swf>
			<audio>audio/wetland_T_1.mp3</audio>
				<type>consonant</type>
				<spots>4,8</spots>
				<syllables>1</syllables>
		</playable>
			<playable>
			<name>turtle</name>
			<swf>playables/wetland/turtle.swf</swf>
			<audio>audio/wetland_T_2.mp3</audio>
				<type>consonant</type>
				<spots>1,3,7,9,10</spots>
				<syllables>2</syllables>
		</playable>
			<playable>
			<name>tree</name>
			<swf>playables/wetland/tree.swf</swf>
			<audio>audio/wetland_T_3.mp3</audio>
				<type>consonant</type>
				<spots>2</spots>
				<syllables>1</syllables>
		</playable>
		
			<available_playables>butterfly,beetle,bats,bird,frog,fish,firefly,fly,mud,muskrat,moss,rock,reed,raccoon,snake,salamander,sparrow,toad,turtle,tree</available_playables>

		<playset>
			<name>B</name>
			<correct>butterfly,beetle,bats,bird</correct>
			<incorrect>frog,fish,firefly,fly,rock,reed,raccoon,mud,muskrat,moss,snake,salamander,toad,turtle,tree</incorrect>
		</playset>
		<playset>
			<name>F</name>
			<correct>frog,fish,firefly,fly</correct>
			<incorrect>butterfly,beetle,bats,bird,rock,reed,raccoon,mud,muskrat,moss,snake,salamander,sparrow,turtle,tree</incorrect>
		</playset>
		<playset>
			<name>M</name>
			<correct>mud,muskrat,moss</correct>
			<incorrect>butterfly,beetle,bats,bird,frog,fish,firefly,fly,rock,reed,raccoon,snake,salamander,sparrow,toad,turtle,tree</incorrect>
		</playset>
		<playset>
			<name>R</name>
			<correct>rock,reed,raccoon</correct>
			<incorrect>butterfly,beetle,bats,bird,frog,fish,firefly,fly,mud,muskrat,moss,snake,salamander,sparrow,toad,turtle,tree</incorrect>
		</playset>
		<playset>
			<name>S</name>
			<correct>snake,salamander,sparrow</correct>
			<incorrect>butterfly,beetle,bats,frog,fish,firefly,fly,rock,reed,raccoon,mud,muskrat,moss,toad,turtle,tree</incorrect>
		</playset>
		<playset>
			<name>T</name>
			<correct>toad,turtle,tree</correct>
			<incorrect>butterfly,beetle,bats,bird,fish,firefly,fly,rock,reed,raccoon,mud,muskrat,moss,snake,salamander,sparrow</incorrect>
		</playset>
	</habitat>
	
</configData>