<configData>
  <debug>
    <playset>7</playset>
  </debug>
  <pbs>
    <kidsisland>false</kidsisland>
  </pbs>
  <settings>
    <rollover>0xFFFFFF</rollover>
    <so_highlight>0xFFCA4F</so_highlight>
    <location_highlight>0xeda807</location_highlight>
  </settings>
  <timer>
    <name>idle</name>
    <delay>12000</delay>
  </timer>
  <timer>
    <name>rollover</name>
    <delay>1000</delay>
  </timer>
  <audios>
    <audio>
      <file>ca_circle.mp3</file>
    </audio>
	  <audio>
		  <file>ca_rectangle.mp3</file>
	  </audio>
	  <audio>
      <file>ca_heptagon.mp3</file>
    </audio>
    <audio>
      <file>ca_hexagon.mp3</file>
    </audio>
    <audio>
      <file>ca_octagon.mp3</file>
    </audio>
    <audio>
      <file>ca_oval.mp3</file>
    </audio>
    <audio>
      <file>ca_pentagon.mp3</file>
    </audio>
    <audio>
      <file>ca_rhombus.mp3</file>
    </audio>
    <audio>
      <file>ca_square.mp3</file>
    </audio>
    <audio>
      <file>ca_triangle.mp3</file>
    </audio>
    <audio>
      <file>instrux1.mp3</file>
    </audio>
    <audio>
      <file>instrux1_to1.mp3</file>
    </audio>
    <audio>
      <file>instrux1_to2.mp3</file>
    </audio>
    <audio>
      <file>instrux1_to3.mp3</file>
    </audio>
    <audio>
      <file>instrux2.mp3</file>
    </audio>
    <audio>
      <file>instrux2_plot2.mp3</file>
    </audio>
    <audio>
      <file>instrux2_plot3.mp3</file>
    </audio>
    <audio>
      <file>instrux2_to1.mp3</file>
    </audio>
    <audio>
      <file>instrux2_to2.mp3</file>
    </audio>
    <audio>
      <file>instrux2_to3.mp3</file>
    </audio>
    <audio>
      <file>instrux3.mp3</file>
    </audio>
    <audio>
      <file>instrux3_to1.mp3</file>
    </audio>
    <audio>
      <file>instrux3_to2.mp3</file>
    </audio>
    <audio>
      <file>instrux3_to3.mp3</file>
    </audio>
    <audio>
      <file>instrux3_to4.mp3</file>
    </audio>
    <audio>
      <file>intro.mp3</file>
    </audio>
    <audio>
      <file>packet_circle.mp3</file>
    </audio>
    <audio>
      <file>packet_heptagon.mp3</file>
    </audio>
    <audio>
      <file>packet_hexagon.mp3</file>
    </audio>
    <audio>
      <file>packet_octagon.mp3</file>
    </audio>
    <audio>
      <file>packet_oval.mp3</file>
    </audio>
    <audio>
      <file>packet_pentagon.mp3</file>
    </audio>
    <audio>
      <file>packet_rectangle.mp3</file>
    </audio>
    <audio>
      <file>packet_rhombus.mp3</file>
    </audio>
    <audio>
      <file>packet_square.mp3</file>
    </audio>
    <audio>
      <file>packet_to2.mp3</file>
    </audio>
    <audio>
      <file>packet_triangle.mp3</file>
	</audio>
	<audio>
	  <file>playagain.mp3</file>
	</audio>
	<audio>
	  <file>pollination.mp3</file>
	</audio>
	<audio>
	  <file>reaction1.mp3</file>
	</audio>
	<audio>
	  <file>reaction3.mp3</file>
	</audio>
	<audio>
	  <file>reaction4.mp3</file>
	</audio>
	<audio>
	  <file>segue_zoom_in.mp3</file>
	</audio>
	<audio>
	  <file>thankyou.mp3</file>
	</audio>
	<audio>
	  <file>wa1.mp3</file>
	</audio>
	<audio>
	  <file>wa2.mp3</file>
	</audio>
	<audio>
	  <file>wa3.mp3</file>
	</audio>
	<audio>
	  <file>wa4.mp3</file>
	</audio>
	<audio>
	  <file>welcome.mp3</file>
	</audio>
	<audio>
		<file>playagaintimeout.mp3</file>
	</audio>
  <audio>
	  <file>payoff_gen1.mp3</file>
  </audio>
  </audios>
</configData>